/* ============================================== */
/* About Styles                                   */
/* ============================================== */
.about {
    margin: 10vw;
}

#expandC, #expandR, #expandA, #expandP {
    padding-top: 2vh;
}

.bigPink {
    color: #EFB3B3;
    font-size: 3.5rem;
}

.bigWhite {
    color: white;
    font-size: 3.5rem;
}