/* ============================================== */
/* Base Styles                                    */
/* ============================================== */
h2, h3 {
    color: #EFB3B3;
}

/* ============================================== */
/* Class/ID Selectors                             */
/* ============================================== */
.about {
    margin: 15vh 10vw;
}

.big-pink {
    color: #EFB3B3;
    font-size: 2em;
    text-transform: uppercase;
}

.big-white {
    color: white;
}