body{
    justify-content: center;
    
}

<<<<<<< HEAD

/* Quiz Covers */
.card {
    display: none;
}

=======
.question {
    border: solid black 5px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    width: 800px;
}

form {
    margin: 10px;
}

p {
    margin: 10px
}
>>>>>>> 1ad99b5f96fbd690d84a96b00c29238fc4845954
