/* ============================================== */
/* Base Styles                                    */
/* ============================================== */
body {
    justify-content: center;
}

main {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    background-color: white;
    border-radius: 15px;
}

h1 {
    color: #222;
    text-align: center;
}

button.start {
    position: absolute;
    top: 70%;
    left: 46%;

    background-color: #D9D9D9;
    border-color: transparent;
}

p {
    margin: 20px;
}

footer {
    margin-top: 0;
}

/* ============================================== */
/* Class/ID Selectors                             */
/* ============================================== */
/* Quiz Covers */
.cover {
    display: block;
    position: relative;
    margin: 0 auto;
}

.cover img {
    width: 100%;
}

/* Question */
.question {
    box-sizing: border-box;
    margin: auto;
    color: #222;
    padding: 30px 0 0 30px;
    min-height: 200px;
}

.question h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.check {
    margin: auto 0 0 auto;
}

.hidden {
    display: none;
}

/* Question index list */
.arrow {
    line-height: 2em;
    color: #222;
    padding: 5px;
    border-radius: 10px;
    background-color: #BFCEA6;
    cursor: pointer;
}

.arrow:active {
    color: white;
    background-color: #EFB3B3;
}

.index {
    display: inline-block;
    margin: 0 5px;
    color: #222;
}

/* Radio and checkbox */
.done, .correct {
    color: #8fb355;
}

.incorrect {
    color: #c66262;
}

/* text */
input[type="text"].correct {
    color: #222;
    background-color: #8fb355;
}

input[type="text"].incorrect {
    color: white;
    background-color: #c66262;
}

.curIndex {
    color: #EFB3B3;
}

/* ============================================== */
/* RWD                                            */
/* ============================================== */
@media screen and (max-width: 760px){

}

@media screen and (max-width: 480px){

}
