body{
    justify-content: center;
    
}

.meow {
    color: blue;
}

/* Quiz Covers */
.card {
    display: none;
}

.question {
    border: solid black 5px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    width: 800px;
}

form {
    margin: 10px;
}

p {
    margin: 20px;
}

@media screen and (max-width: 760px){

}

@media screen and (max-width: 480px){

}
