/* ============================================== */
/* Settings Styles                                */
/* ============================================== */
.settings {
    text-align: center;
    color: white;
    height: 30vh;
    padding-top: 10vh;
}